.settings-pop {
  z-index: 1002;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondColor);
  border: 1px solid var(--linesColor);
  border-radius: 6px;
  width: 300px;
}
.settings-sets {
  width: 100%;
}
.settings-top {
  border-bottom: 1px solid var(--linesColor);
  width: 100%;
  text-align: center;
  padding: 16px 20px;
  font-size: 17px;
  font-weight: var(--bold);
}
.settings_form {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
  width: 100%;
}
.settings_form input {
  margin-top: 16px;
  border: none;
  border-bottom: 1px solid var(--linesColor);
  outline: none;
  font-size: 16px;
  padding: 10px;
}
.settings_form input[type="submit"] {
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: var(--lightGrey);
  color: var(--textColor);
  font-size: 16px;
  font-weight: var(--semiBold);
  transition: var(--transition);
}
.settings_form input[type="submit"]:hover {
  background-color: var(--linesColor);
}
