.login_signup-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: auto;
  margin-top: 15vh;
}
.login_signup-top,
.login_signup-bottom {
  border: 1px solid var(--linesColor);
  background-color: var(--secondColor);
  width: 100%;
  text-align: center;
}
.login_signup-top {
  margin-bottom: 10px;
  padding: 10px 0;
}
.login_signup-top h1 {
  margin: 22px auto 12px;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login_signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.login_signup-email,
.login_signup-pass,
.signup-username,
.login_signup-btn {
  padding: 10px;
  outline: none;
  width: 80%;
}
.login_signup-email,
.signup-username,
.login_signup-pass {
  border: 1px solid var(--linesColor);
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: var(--lightGrey);
}
.login_signup-btn {
  background-color: var(--blueColor);
  border: none;
  color: var(--secondColor);
  font-weight: var(--bold);
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
.login_signup-bottom {
  padding: 20px;
  position: relative;
}
.login_signup-bottom a {
  margin-left: 10px;
  color: var(--blueColor);
}
.signup-sub {
  width: 80%;
  margin: 15px auto;
  display: block;
  color: var(--darkGrey);
  font-size: 15px;
  letter-spacing: 2px;
}
.signup-rules {
  color: var(--darkGrey);
  display: block;
  width: 80%;
  margin: 10px auto;
  font-size: 12px;
}
.login_signup-bottom:disabled {
  cursor: not-allowed;
}

.layBtns {
  position: absolute;
  background-color: rgb(0, 0, 0, 0%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.login_signup-err {
  margin-bottom: 10px;
  color: #f00;
}
